{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}Contact Us{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<h2>Add Your Child Templates</h2>
<p>Your base template is designed to provide a consistent structure for your project while allowing flexibility in
  specific parts of the content through Jinja’s block functionality. Next, create the child templates that extend
  base.html and fill in these blocks with their specific content.</p>

{% endblock content %}